<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Nuuvem Dev Challenge" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/assets/cloud.png" type="image/png">
    <link rel="apple-touch-icon" href="/assets/cloud.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render partial: "shared/navbar" %>
    <div class="relative">
      <div class="fixed top-15 left-4 mt-4 flex flex-col items-start space-y-2 z-50">
        <% flash.each do |type, msg| %>
          <div class="flash-message w-full max-w-xs p-2 text-white rounded-lg
            <%= case type
                when "notice" then "bg-green-500"
                when "alert" then "bg-red-500"
                else "bg-gray-500"
            end %>">
            <p class="text-center"><%= msg %></p>
          </div>
        <% end %>
      </div>
      <main class="p-8">
        <%= yield %>
      </main>
    </body>
  </html>
